<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <input type="radio" id="_user" name="_use" value="바위">바위
    <input type="radio" id="_user" name="_use" value="가위">가위
    <input type="radio" id="_user" name="_use" value="보">보
    <button id="game">게임 시작</button>
    <p></p>
    <script>
        $("#game").click(function(){
            $.get(
                '/game2', 
                {
                    user : $("input[name='_use']:checked").val()
                }, 
                function(data, status){
                    $("p").text(data)
                }
            )
        })
    </script>
</body>
</html>